@import "tailwindcss";

@theme {
  --color-primary: #2563eb; /*600 */
  --color-primary-light: #3b82f6; /*500 */
  --color-primary-dark: #1d4ed8; /*700 */

  --color-success: #16a34a;
  --color-success-light: #22c55e;
  --color-success-dark: #15803d;

  --color-danger: #dc2626;
  --color-danger-light: #ef4444;
  --color-danger-dark: #b91c1c;
}

.router-link-active {
  @apply underline;
}
